.about {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.about .titleBox h1:before {
  content: "ABOUT";
  font-size: 7rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.135);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  max-width: max-content;
}

.about .titleBox span.line {
  content: "";
  width: 8%;
  height: 3px;
  background-color: #06d688;
  text-align: center;
  margin: auto;
  display: block;
}

.subInfo ul li {
  border-bottom: 1px solid hsla(0, 0%, 98%, 0.12);
  padding: 12px 0;
  font-weight: 300;
}

.info p {
  color: rgb(212, 211, 211);
}

.color {
  color: #06d688;
}

button {
  width: 9em !important;
  height: 3.5em !important;
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 2rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    gap: 3rem;
    overflow-wrap: break-word;
  }

  .about .titleBox h1:before {
    content: unset;
  }

  .about .titleBox span.line {
    width: 28%;
  }
}
