button {
  width: 8em;
  position: relative;
  height: 2.5em;
  border: 3px ridge #06d688;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
  
  button::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 3%;
    width: 95%;
    height: 20%;
    background-color: var(--bg-color);
    transition: 0.5s;
    transform-origin: center;
  }
  
  button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 94%;
    left: 3%;
    width: 95%;
    height: 14%;
    background-color: var(--bg-color);
    transition: 0.5s;
}
  
  button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  button:hover {
    box-shadow: inset 0px 0px 25px #06d688;
  }