@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1f1f24;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app {
  display: flex;
}
